@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  z-index: 1;
  cursor: url("/images/cc.png"), auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #0d0d0d !important;
}

@layer utilities {
  /*  project cards  */
  .project_card_container {
    @apply flex bg-[rgba(0,0,0,0.9)] sm:p-10 p-5 gap-7 flex-wrap justify-center rounded-xl;
  }
  .project_card_div {
    @apply lg:w-[25%] lg:h-[360px] sm:w-[50%] md:w-[40%] w-[80%] bg-gray-900  projectShadow sm:h-[100%] rounded-lg p-2;
  }
  .project_card_img {
    @apply w-[100%] sm:h-[200px] h-[150px] rounded-2xl object-cover;
  }
  .project_card_textContainer {
    @apply bg-[#2d434c] p-5  h-[100%] lg:h-[120px] mt-4 rounded-lg;
  }
  .project_card_heading {
    @apply flex font-bold text-white mt-1 font-serif;
  }
  .project_card_deployed {
    @apply text-emerald-400 ml-12;
  }
  .project_card_links {
    @apply flex gap-2 justify-between flex-wrap;
  }
  .project_card_liveBtn {
    @apply p-[8px] mt-[7px] bg-green-600 text-white outline-none;
  }

  /* Project Together */
  .pT_container {
    @apply bg-gradient-to-r from-purple-500 to-pink-500 rounded-lg p-6 text-white w-96 mx-auto shadow-lg text-center hover:shadow-lg hover:shadow-white transition-all duration-700;
  }
  .pT_btn {
    @apply bg-gray-800 text-white py-3 px-6 rounded-lg border-none cursor-pointer text-lg flex items-center justify-center ml-8;
  }

  /*  Navbar  */
  .nav_container {
    @apply flex justify-between items-center p-2 text-white max-w-[1200px] w-[100%] ml-auto mr-12;
  }

  /* skills */
  .skill_heading {
    @apply font-bold text-gray-200 text-4xl text-center flex justify-center items-center gap-3;
  }
  .skill_container {
    @apply flex justify-center mt-7 sm:w-[70%] w-full mx-auto  gap-4 flex-wrap  bg-[rgba(0,0,0,0.9)] p-10 rounded-2xl;
  }
  .skill_card {
    @apply customSkillShadow border customShadow px-4 pb-1 flex flex-col items-center rounded-xl;
  }
  .skill_img {
    @apply w-[60px] h-[60px];
  }
  .skill_c1 {
    @apply w-[55px] h-[50px] mt-2 rounded-full object-cover;
  }
  .skill_c2 {
    @apply w-[55px] h-[50px] mt-2;
  }
  .skill_c3 {
    @apply w-[60px] h-[50px] mt-2;
  }
  .skill_c4 {
    @apply w-[40px] h-[40px];
  }
  .skill_c5 {
    @apply w-[50px] h-[50px];
  }
  .skill_c_shadow {
    @apply customSkillShadow border customShadow px-4  flex flex-col items-center justify-center rounded-xl;
  }
  .skill_t1 {
    @apply text-white font-bold mt-2;
  }
}

.cursor-light {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: radial-gradient(circle, #c778dd 50%, #3a3f49 100%);
  opacity: 0.1;
  pointer-events: none;
  transform: translate(-50%, -50%);
  mix-blend-mode: screen;
  filter: blur(35px);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(1);
  }

  50% {
    transform: rotate(180deg) scale(0.7);
  }

  100% {
    transform: rotate(360deg) scale(1);
  }
}

@keyframes scaleAndRound {
  0%,
  100% {
    border-radius: 15%;
  }

  50% {
    border-radius: 30%;
  }
}

.boxes-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  animation: rotate 2s linear infinite;
  gap: 1rem;
}

.box-rotating {
  border-radius: 0.5rem;
  animation: scaleAndRound 2s ease-in-out infinite;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgba(26, 26, 26, 0.7);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
  backdrop-filter: blur(5px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

button:hover {
  background-color: rgba(100, 108, 255, 0.8);
  transform: translateY(-2px);
  box-shadow: 0 4px 15px rgba(100, 108, 255, 0.5);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.customShadow {
  box-shadow: rgba(160, 21, 21, 0.9) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(157, 80, 228, 0.9) 0px 10px 60px -30px;
}
.customSkillShadow {
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.customSkillShadow:hover {
  box-shadow: 0px 0px 15px 5px rgba(129, 127, 250, 0.5);
  transform: scale(1.05);
}

.banner {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;

  width: 100%;
  height: 90vh;
}
.list li {
  padding: 0.5rem;
}
.list li a {
  color: #fff;
  font-size: 1.2rem;
  position: relative;
  padding-bottom: 3px;
  overflow: hidden;
}
.list li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -100%;
  width: 0;
  height: 2px;
  background-color: #454545;
  transition: all 300ms ease-in;
}
.list li a:hover::after {
  left: 0;
  width: 100%;
}

.list li a:hover {
  color: #7378df;
}
.center {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.customShadow {
  box-shadow: rgba(10, 99, 111, 0.5) 0px 7px 29px 0px;
}

.formShadow {
  box-shadow: 1px -1px 16px -3px rgba(18, 188, 235, 0.6);
}

.project-description {
  opacity: 0;
  transform: translateY(100%);
  background: #2d434c;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
  padding: 10px;
}

.projectShadow:hover .project-description {
  opacity: 0.8;
  transform: translateY(0);
}

#contact {
  background-size: cover;
  background: rgb(21, 21, 21);
  background-position: center center;
  background-repeat: no-repeat;
}
.typing-text-large {
  margin-top: 25px;
  font-size: 2.5em;
}

.typing-text-small {
  font-size: 1em;
}

@media (max-width: 768px) {
  .navName {
    margin-left: 15%;
  }
}
@media (max-width: 768px) {
  .cB {
    margin-bottom: 5%;
  }
}
@media (max-width: 768px) {
  * {
    overflow-x: hidden;
  }
}
@media (max-width: 768px) {
  .leetcodeCustom {
    font-size: small;
    padding: 3px;
  }
}
@media (max-width: 768px) {
  .toggleSmall {
    font-size: x-large;
  }
}
@media (max-width: 768px) {
  .cA {
    display: none;
  }
}
@media (max-width: 768px) {
  .bannerImgCus {
    margin-top: 8vh;
    height: 20vh;
  }
}
@media (max-width: 768px) {
  .bannerCustom {
    margin-top: 60px;
    font-size: medium;
  }
}

@media (max-width: 768px) {
  .typing-text-large {
    font-size: 1em;
  }

  .typing-text-small {
    font-size: 2em;
  }
}
@media (max-width: 1024px) {
  .typing-text-large {
    font-size: 1.4em;
  }
  .typing-text-small {
    font-size: 2em;
  }
}
.code-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.code-title {
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .code-title {
    width: 80%;
  }
}
